header {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: $h-header;
  padding: 0 30px;
}

main {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - #{$h-header});
  width: 100%;
  padding: 30px;
  section.sidebar {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0 30px 0 0;
    & > button {
      margin: 0 0 10px 0;
    }
  }
  form.search {
    margin: 0 0 15px 0;
    div.field {
      width: unset;
      flex: unset;
      &:nth-child(1) {
        flex-grow: 1;
      }
      &:nth-child(2) {

      }
    }
    div.search-field-container {
      width: 100%;
      position: relative;
      button.btn.remove {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        font-size: 12px;
      }
    }
  }
  ul.words {
    width: 100%;
    height: 100%;
    overflow: auto;
    & > li {
      @include flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 10px 100px 10px 10px;
      border-left: 3px solid transparent;
      position: relative;
      &.current {
        border-left: 3px solid $c-blue;
      }
      * {
        font-family: $f-mono;
        font-size: 12px;
      }
      &:not(:last-child) {
        margin: 0 0 15px 0;
      }
      p.word {
        margin: 0 0 5px 0;
      }
      p.parts {
        margin: 0 0 5px 0;
        color: #aaa;
      }
      ol.definitions {
        list-style: decimal;
        padding: 0 0 0 30px;
         & > li {
           &:not(:last-child) {
             margin: 0 0 5px 0;
           }
           p {
             line-height: 130%;
           }
         }
      }
      div.buttons {
        @include flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        & > * {
          &:not(:last-child) {
            margin: 0 5px 0 0;
          }
        }
        button {
          &.edit {
            padding: 5px;
          }
          &.remove {
            position: relative;
            font-size: 14px;
            width: 26px;
            height: 26px;
            padding: 1px 0 0;
          }
        }
        div.remove-button {
          position: relative;
        }
      }
    }
  }
  div.tooltip-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
}
