div.input-word {
  width: 100%;
  position: relative;
  font-size: 12px;
  z-index: 1;
  ul, p.no-result {
    width: 200px;
    position: absolute;
    top: calc(100% + 8px);
    left: 10px;
    background-color: #999;
    color: #fff;
    border-radius: 2px;
    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 50%;
      background-color: inherit;
      width: 10px;
      height: 10px;
      transform: translateX(-50%) rotate(45deg);
    }
  }
  p.no-result {
    padding: 10px;
  }
  p.word-value {
    padding: 7px 5px;
    border: 1px solid #999;
    border-radius: 2px;
  }
  ul {
    padding: 5px;
    li {
      padding: 5px;
      margin: 0;
      cursor: pointer;
      &:hover, &:focus, &.hilight {
        text-decoration: underline;
        &:active {
          color: #eee;
        }
      }
    }
  }
}
