$h-header: 120px;

$c-blue:   #007bd8;
$c-green:  #347d34;
$c-red:    #d44646;

$f-sans: 'Barlow', sans-serif;
$f-mono: 'Roboto Mono', 'Monaco', 'Consolas', monospace;

$t-fast: 0.15s;
$t-medium: 0.3s;
$t-slow: 0.5s;

$tf-natural: cubic-bezier(0.77, 0, 0.175, 1);

$b-tablet: 960px;
$b-mobile: 640px;

$m-tablet: '(max-width: #{$b-tablet})';
$m-mobile: '(max-width: #{$b-mobile})';

$shadow-inset: inset 0 1px 5px 0 rgba(0,0,0,0.2);

@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,500,500i,700,700i|Roboto+Mono:400,400i,700');

@mixin flex {
  display: flex;
  flex-shrink: 0;
}

@mixin grid($n, $m) {
  width: calc((100% - ((#{$n} - 1) * #{$m})) / #{$n});
  margin-right: $m;
  margin-bottom: $m;
  &:nth-child(#{$n}n+#{$n}) {
    margin-right: 0;
  }
  &:nth-last-child(-n+#{$n}) {
    margin-bottom: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

@mixin button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  position: relative;
  color: #222;
  text-decoration: none;
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  &:hover {
    background-color: #eee;
    text-decoration: none;
    &:active {
      box-shadow: $shadow-inset;
    }
  }
  &:focus:after {
    display: block;
  }
}

@mixin button-round {
  @include button;
  border-radius: 50%;
  &:after {
    border-radius: 50%;
  }
}

@mixin h1 {
  font-weight: 700;
  font-size: 36px;
}

@mixin h2 {
  font-weight: 500;
  font-size: 24px;
}

@mixin h3 {
  font-weight: 500;
  font-size: 18px;
}
