html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $f-sans;
}

body {
  width: 100%;
  min-height: 100vh;
}

div#root {
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #222;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  padding: 0;
  margin: 0;
}

h1, .h1 {
  @include h1;
  span, em {
    font-weight: inherit;
  }
}

h2, .h2, p.subtitle {
  @include h2;
  span, em {
    font-weight: inherit;
  }
}

h3, .h3 {
  @include h3;
  span, em {
    font-weight: inherit;
  }
}

img {
  border-radius: 2px;
  background: none;
}

strong {
  font-weight: 700;
}

div.hr {
  width: 100%;
  border-top: 1px dashed #aaa;
  margin: 15px 0 30px;
}

div.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: opacity $t-fast;
  z-index: 1000;
  &.active {
    opacity: 0.6;
    pointer-events: all;
  }
}

a {
  color: $c-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button.btn-link {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
  color: $c-blue;
  text-decoration: none;
  &:not(:disabled) {
    cursor: pointer;
    &:hover, &:focus {
      text-decoration: underline;
      &:active {
        color: darken($c-blue, 10%);
      }
    }
  }
  &:disabled {
    opacity: 0.6;
  }
  &.red {
    color: $c-red;
    &:hover, &:focus {
      &:active {
        color: darken($c-red, 10%);
      }
    }
  }
}

button.btn {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  padding: 0;
  &:not(:disabled) {
    cursor: pointer;
    &:hover, &:focus {
      background-color: #eee;
      &:active {
        background-color: #ddd;
      }
    }
  }
  &:disabled {
    opacity: 0.6;
  }
}
