div.tooltip {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  transform: translateX(-50%) translateY(5px);
  border: 1px solid #333;
  border-radius: 2px;
  padding: 5px 5px 5px 8px;
  background-color: #fff;
  font-size: 12px;
  pointer-events: all;
  p {
    margin: 0 5px 0 0;
    white-space: nowrap;
  }
  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) rotate(45deg);
    background-color: #fff;
    border-radius: 2px;
    border-color: inherit;
    border-style: solid;
    border-width: 1px 0 0 1px;
  }
  button.btn {
    width: 26px;
    height: 26px;
  }
}
