form {
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  div.buttons {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 0;
    position: relative;
    button {
      margin: 0 10px 0 0;
    }
    p.form-error {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateX(100%) translateY(-50%);
      padding: 5px 8px;
      font-size: 12px;
      border-radius: 2px;
      background-color: $c-red;
      color: #fff;
      white-space: nowrap;
    }
  }
  .field {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
    label {
      font-size: 12px;
      font-weight: 700;
      margin: 0 0 5px 0;
    }
    ol {
      width: 100%;
      margin: 0 0 5px 0;
      list-style: decimal;
      &:empty {
        margin: 0;
      }
      li {
        width: 100%;
        &:not(:last-child) {
          margin: 0 0 5px 0;
        }
        p.list-number {
          font-size: 12px;
          margin: 0 5px 0 0;
        }
        button {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
  .row {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .field {
      flex: 1;
      &:not(:last-child) {
        margin: 0 5px 0 0;
      }
    }
  }
}
