div.input-radiobuttons {
  ul {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #999;
    border-radius: 2px;
    li {
      @include flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        border-right: 1px solid #999;
      }
      button {
        appearance: none;
        outline: none;
        font-size: 12px;
        padding: 5px 7px;
        cursor: pointer;
        &:hover, &:focus {
          background-color: #eee;
          &:active {
            background-color: #ddd;
          }
        }
      }
      button.checked {
        color: #fff;
        background-color: #999;
        &:hover, &:focus {
          background-color: #888;
          &:active {
            background-color: #777;
          }
        }
      }
      input {
        display: none;
      }
    }
  }
}
