main.error-404 {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
  h1 {
    margin: 0 0 20px 0;
  }
  p {
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
}
